<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Netspoc{% if page.title %} ~ {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div class="body">
      <div class="content">
        <div class="topbar">
          <a href=".">Overview</a>
          <a href="features.html">Features</a>
          <a href="benefits.html">Benefits</a>
          <a href="doc.html">Documentation</a>
          <a href="http://github.com/hknutzen/netspoc/tags">Download</a>
        </div>
        <div class="sidebar">
          <h1>Netspoc</h1>
        </div>

{{ content }}

      </div>
      <div class="foot">Copyright &copy; 2023 {{ page.author }}</div>
    </div>
  </div>
<a href="https://github.com/hknutzen/Netspoc">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
       alt="Fork me on GitHub" />
</a>
  </body>
</html>
