<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Netspoc{% if page.title %} ~ {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <style>#forkongithub a{background:#ff7600;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style>
  </head>
  <body>
    <span id="forkongithub"><a href="https://github.com/hknutzen/Netspoc">Fork me on GitHub</a></span>
    <div class="body">
      <div class="content">
        <div class="topbar">
          <a href=".">Overview</a>
          <a href="features.html">Features</a>
          <a href="benefits.html">Benefits</a>
          <a href="doc.html">Documentation</a>
          <a href="http://github.com/hknutzen/netspoc/releases">Download</a>
        </div>
        <div class="sidebar">
          <h1>Netspoc</h1>
        </div>

{{ content }}

      </div>
      <div class="foot">Copyright &copy; 2025 {{ page.author }}</div>
    </div>
  </div>
  </body>
</html>
